body {
  margin: 900px;
  background-image: url('C:\Users\admin\Downloads\TweetHub\tweethub\app\public\background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282828;
  opacity: 75%;
  margin-top: 100px;
  width: 1000px;
  height: 800px;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
