.logo{
    color: #FFD93D;
    text-align: center;
    font-size: 30px;
    background-color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bar{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}