.App {
  text-align: center;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.front {
  background-color: #242424;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-top: 200px;
  width: 1000px;
  height: 900px;
}

header a {
  color: #c8a725;
  font-size: 72px;
  font-family: "Kanit", sans-serif;
  justify-content: center;
  padding: 10px;
}
